/vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
composer.lock

.idea
/test/WalkingSystem/sample/not_commit_config.php
/codeclimate-config.patch
/test/queue/queue_item_dir/
/test/cache/cache_dir/
/test/routing/log/
/test/Baruch/.htaccess
/test/Baruch/storage/
